
  .containers ul p {
  color: white;
  text-align: left;
  margin-left: 10px;
  max-width: 80vw;
}

.containers ul .albumName{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.containers #typeAndArtiste{
  font-size: 13px;
  margin-top: -10px;
}

.containers ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.containers img {
  border-radius: 5px;
  width: 90%;
  height: 180px;
  object-fit: cover;
}

.containers li {
  max-width: auto;
  list-style: none;
}

.containers .imageCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .containers .imageCont img{
  object-fit: contain;
} */

.containers h1{
  padding-left: 10px;
}

#typeAndArtiste{
  color: rgb(197, 194, 194);
  text-transform: capitalize;

}

.scrollableList{
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
}

.scrollableList p:first-of-type{
  font-size: 13px;
}

.scrollableList #typeAndArtiste{
  font-size: 13px;
  margin-top: -10px;
  text-transform: capitalize;
}

.scrollableItem {
  flex: 0 0 auto;
  width: 190px; 
}

.leftArrow,
.rightArrow{
  cursor: pointer;
}

@media(max-width: 900px){
  .containers.newReleases{
    margin-top: 90px;
  }

  .containers img {
    
    height: 400px;
    object-fit: cover;
  }
}