.body {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#homePageUi {
  width: 100%;
  display: flex;
}

.pagesCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 50px;
}

.pagesCont .allPlaylists {
  max-width: 70vw;
  margin-top: 70px;
}

.navBarAndMenu {
  width: 200px;
}

.pagesCont .allPlaylists.biggerContainer {
  max-width: 80vw;
}

.leftArrow,
.rightArrow {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: white 1px solid;
  color: white;
  margin-bottom: 15px;
  margin-left: 10px;
}

.navArrow {
  margin-top: 10px;
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.sliderCont {
  position: absolute;
  right: 0;
}

.images {
  border-radius: 30%;
  width: 90%;
}



@media (max-width: 800px) {
  .pagesCont {
    max-width: 100vw;
    position: absolute;
    left: 0;
    padding: 0 100px;
  }

  .pagesCont .allPlaylists {
    max-width: 100vw;
    margin-top: 0px;
  }

  .pagesCont .allPlaylists.biggerContainer {
    max-width: 100vw;
  }

  
}

