body {
  color: white;
}

.navbar {
  width: 100%;
}

.navbar .container {
  border-right: 1px solid rgba(231, 231, 231, 0.2);
  height: 100vh;
  padding: 0 15px;
  position: fixed;
  background-color: black;
}

.navbar.smallerNavbar .container {
  border-right: none;
  background-color: unset;
}

.navbar .header {
  display: flex;
  align-items: center;
  display: none;
}

.navbar .header span {
  margin-right: 10px;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}

.navbar .header p {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.navbar #menu {
  width: 100%;
  border-bottom: 1px solid rgba(231, 231, 231, 0.3);
  padding-bottom: 20px;
  margin-top: 90px;
}

.navbar.smallerNavbar #menu {
  border-bottom: none;
  margin-left: -10px;
}

.navbar #menu p {
  display: flex;
  font-size: 18px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
}

.navbar #menu p:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar #menu span {
  margin-right: 15px;
  font-size: 18px;
}

.navbar #menu span:last-of-type {
  font-size: 15px;
}

.navbar #lists {
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.navbar #lists p {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar.smallerNavbar #lists p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.navbar.smallerNavbar .container.scrolled {
  border-right: 1px solid rgba(231, 231, 231, 0.2);
}

.navbar.smallerNavbar #lists p span:last-of-type {
  font-size: 14px;
}

.navbar.smallerNavbar #userInfos {
  display: none;
}

.navbar.smallerNavbar .container {
  border-right: none;
}

.navbar.smallerNavbar #menu span {
  margin-right: 0;
}

.navbar #userInfos button {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar #userInfos button span {
  margin-right: 5px;
}

.navbar #userInfos ul {
  padding: 0;
}

.navbar #userInfos li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 20px;
}

.navbar #userInfos li div:last-of-type {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 50%;
  font-size: 8px;
}

.navbar #userInfos li p:first-of-type {
  font-weight: bold;
}

.navbar #userInfos li p:last-of-type {
  font-size: 13px;
  margin-top: -10px;
}

.navbar .playIcon {
  display: none;
}

.navbar #userInfos li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar #userInfos li:hover .playIcon {
  display: block;
}

@media (max-width: 800px) {
  .navbar {
    transition: 1s ease-in-out;
    position: fixed;
    left: 0;
    z-index: 150;
    transform: translateX(-200px);
    transition: 1s ease-in-out;
  }

  .navbar .container {
    background-color: black;
  }

  .navbar.smallerNavbar .container {
    background-color: black;
    box-shadow: 10px 0 15px rgba(76, 76, 76, 0.3);
  }

  .navbar.active {
    transform: translateX(0px);
  }

  .navbar #menu {
    margin-top: 0px;
  }

  .navbar .header {
    display: block;
    margin-top: -15px;
    margin-left: -5px;
  }

  .navbar .container {
    align-items: unset;
  }

  .navbar .header p span:last-of-type {
    display: block;
  }

  .navbar.smallerNavbar .container {
    width: 200px;
  }

  .navbar.smallerNavbar #lists p {
    width: 100%;
    flex-direction: row;
    justify-content: left;
    padding-left: 0;
  }

  .navbar.smallerNavbar #menu {
    margin-left: 0px;
  }

  .navbar.smallerNavbar #lists p span:last-of-type {
    margin-left: 10px;
  }

  .navbar.smallerNavbar #userInfos {
    display: block;
  }

  .navbar #userInfos li {
    padding: 0;
  }

  .container ul p {
    margin-left: 0;
  }

  .navbar.smallerNavbar .container {
    border-right: initial;
  }

  .navbar #logo {
    width: 50px;
  }

  .navbar.smallerNavbar #menu {
    border-bottom: 1px solid rgba(231, 231, 231, 0.3);
  }
}
