@import url("https://use.typekit.net/kgc1wkb.css");

*{
  box-sizing: border-box;
}

body{
  font-family: "playfair-display";
}

.linkTag{
  text-decoration: none;
  list-style: none;
  color: unset;
}




